* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-color: dimgray;
}

html {
  background-color: ivory;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  width: 75%;
  margin: auto;
}

main {
  display: flex;
  margin-top: 2em;
  width: 100%;
}

header {
  color: dimgray;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.fullpage {
  height: 100vh;
}

.largeFont {
  font-size: large;
}

.moduleSearch {
  width: 100%;
}

.moduleSearch .input {
  width: 100%;
  border-radius: 5em 0 0 5em;
  background-color: white;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.moduleSearch .btn {
  width: 75px;
  border-radius: 0 5em 5em 0;
  background-color: white;
  padding: 0.5em;
  cursor: pointer;
}

#closeSearch {
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

#bookDetails {
  max-width: 15em;
}

#bookCover {
  border-radius: 1em;
  width: 100%;
  max-height: 100em;
}

#bookContent {
  width: 100%;
  padding-left: 1em;
}

#bookSynopsis {
  white-space: pre-line;
  font-size: small;
}

.hidden {
  display: none;
}
